@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #533738;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 25px 66px 24px 68px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
  background-color: #CC8B86;
  border: none;
  cursor: pointer;
}

.container {
  width: 1400px;
  margin: 0 auto;
  background-color: #EFE6E4;
}

.phone {
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

/* header */
.page-header {
  width: 1400px;
  min-height: 715px;
  margin: 0 auto;
  padding-top: 36px;
  background: url('../img/header-bg.jpg') center center/cover no-repeat #EFE6E4;
}

.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 100px 91px 98px;
}

/* nav */
.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-list li:not(:last-child) {
  margin-right: 26px;
}

.logo {
  display: flex;
  align-items: center;
  color: #533738;
}

/* Promo */
.promo-wrapper {
  width: 535px;
  margin-left: 184px;
  margin-bottom: 168px;
  display: flex;
  flex-direction: column;
}

.promo-title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  text-transform: none;
}

.promo-description {
  margin-bottom: 21px;
}

.promo-button {
  box-sizing: border-box;
  display: block;
  width: 309px;
}

/* about */
.about-title {
  margin-bottom: 40px;
  padding-top: 65px;
  text-align: center;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.text-wrapper {
  width: 528px;
  margin-left: 63px;
}

.text-wrapper p {
  margin-bottom: 47px;
}

/* our-skill */
.our-skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  min-height: 273px;
  text-align: center;
  font-size: 50px;
  line-height: 62px;
  background-color: #8D7370;
  color: #fff;
}

.our-skill span {
  display: block;
}

.skill-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.skill-number {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
}

/* our-work */
.our-work-title {
  margin-left: 100px;
  margin-bottom: 40px;
  padding-top: 65px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 10px;
  color: #fff;
}

.our-work-link {
  display: inline-block;
  position: relative;
}

.our-work-list li:not(:nth-child(2n)) {
  margin-right: 20px;
}

.our-work-list li {
  margin-bottom: 30px;
}

.our-work-item p {
  padding: 0 35px;
}

.our-work-text h3 {
  width: 270px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.our-work-text {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background: transparent;
	background-image: linear-gradient(to left,rgba(100, 72, 69, 0.8),rgba(100, 72, 69, 0.8));
}

.our-work-link .our-work-text {
  z-index: -1;
}

.our-work-link:hover .our-work-text,
.our-work-link:focus .our-work-text {
  z-index: 1;
}

.link-more {
  display: block;
  position: relative;
  padding-bottom: 65px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #533738;
}

.link-more::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 16px;
  right: 515px;
  top: 12%;
  background-image: url('../img/our-work/Arrow.svg');
}

/* team */
.team-container {
  background-color: #E2C4BA;
}

.team-title {
  margin-bottom: 40px;
  padding-top: 50px;
  text-align: center;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  column-gap: 38px;
  margin-left: 181px;
  margin-right: 182px;
}

.team-list img {
  margin-bottom: 10px;
}

/* how-work */
.how-work-title {
  margin-bottom: 40px;
  padding-top: 35px;
  text-align: center;
}

.work-number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #8D7370;
  border-radius: 50%;
}

.how-work-list {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  column-gap: 20px;
  margin-left: 99px;
  padding-bottom: 80px;
  text-align: center;
}

.how-work-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* reviews */
.reviews-title {
  margin-bottom: 40px;
  padding-top: 65px;
  text-align: center;
}

.article-wrapper {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 55px;
}

.article-text {
  width: 420px;
  align-self: center;
  margin-right: 20px;
}

.article-image {
  width: 407px;
}

.article-image-first {
  margin-bottom: 24px;
}

blockquote {
  margin: 0;
}

blockquote q {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

blockquote span {
  display: block;
  margin-top: 43px;
  margin-bottom: 47px;
}

cite {
  display: block;
  margin-top: 19px;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.reviews-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background-color: #CC8B86;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.right-button {
  margin-left: 29px;
  transform: rotate(180deg);
}

.left-button {
  margin-right: 29px;
}

/* request */
.request-conteiner {
  display: flex;
  background-color: #8D7370;
}

.request-form-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: auto;
  width: 508px;
}

.request-map-wrapper {
  width: 590px;
  margin-right: auto;
}

.request-map-wrapper img {
  display: block;
}

.request-title {
  padding-top: 50px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
}

.request-description {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  opacity: 0.6;
}

input {
  width: 508px;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #F6EDE9;
  color: #F6EDE9;
}

input[type="text"] {
  margin-bottom: 35px;
}

input[type="tel"] {
  margin-bottom: 31px;
}

input::placeholder {
  color: #F6EDE9;
}

/* footer */
.footer-list {
display: flex;
width: 1200px;
margin: 0 auto;
padding: 37px 0;
}

.footer-phone {
  margin-right: 42px;
}

.footer-list address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.footer-copyrigth {
  margin-left: auto;
}
